@mixin aboutProfiles{

  .aboutBody {
    position: relative;
    width: 100%;
    content: '';
    background : url('http://api.thumbr.it/whitenoise-361x370.png?');
    padding-left: 4em;
    padding-right :4em;
    padding-top :4em;
    padding-bottom :10em;


    .col {

      object-fit: contain;


      .container {
        position: relative;
        //margin-top: 50px;
        width: 100%;
        height: 100%;
      }

      .testContainer {
        position: absolute;
        //margin-top: 50px;
        width: 100%;
        height: 100%;
        object-position: center ;

      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .2);
        transition: background 0.5s ease;
      }

      .container:hover .overlay {
        display: block;
        background: rgba(0, 0, 0, 0);
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
      }

      .title {
        position: absolute;
        width: 500px;
        left: 0;
        top: 8em;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        z-index: 1;
        transition: top .5s ease;
      }

      .container:hover .title {
        top: 10em;
      }

      .button {
        position: absolute;
        width: 500px;
        left:0;
        top: 25em;
        text-align: center;
        opacity: 0;
        transition: opacity .35s ease;
      }

      .button a {
        width: 200px;
        padding: 12px 48px;
        text-align: center;
        color: white;
        border: solid 2px white;
        z-index: 1;
      }

      .container:hover .button {
        opacity: 1;
      }


    }

    //Adds zoom to cols w/imgs
    .profile{
      height: 36em;
      padding: 2em;
      margin: 0;
      transition: transform .2s;
      &:hover{
        transform: scale(1.2)
      }
    }


    //mark up for cols wi.o imgs that omits zoom


    .profile-content{
      position: relative;
      height: 32em;
      top: 2em;
      left: 2em;
      background: yellow;

    }

    #kayla-profile-content{
      display: none;
    }

    #less-kayla{
      display: none;
    }

    #catherine-profile-content{
      display: none;
    }

    #less-catherine{
      display: none;
    }

    #yuko-profile-content{
      display: none;
    }

    #less-yuko{
      display: none;
    }


  }


  .test{

  }



}