//LANDING STYLES
@import ".././presets/resets";

@mixin landing{

  .landing-main{

    .col{
      @include reset-margin-padding
    }

    .landing-row{

      .landing-tile{

        max-width: 100%;
        height: 24rem;

        img{
          width: 100%;
          height: 100%;
        }
      }

    }

  }


}