@mixin static-contentB{

  .app-static {
    background : url('http://api.thumbr.it/whitenoise-361x370.png?');
    padding-top: 2em;
    padding-bottom: 2em;

  }

  .app-static-content-02 {
    position: relative;
    //align-items: center;  /*y axis*/
    justify-content: center; /*x axis*/
    color: white;
    text-shadow: 0 0 5px #000;

  }

  .app-static-container-02{
    width: 90%;
    height: 35rem;
    margin: 0 auto;
    object-fit: contain;

    // shadows
    -webkit-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
    -moz-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
    box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);

    img{
      height: 100%;
      width: 100%;
    }

    h1{
      color: #00ff6c;
      position: absolute;
      top: .3em;
      left: 50%;
      transform: translateX(-50%);

      background: #232323;
      padding: 0 1em;

      font-weight: 300;
      font-size: 2.5rem;
      margin-top: 0;
    }
  }

  .app-section-static-content-text-box-02{
    color: #FFF;
    background-color: #232323;
    padding: 3em;
    width: 32vw;
    outline: 2px solid #00ff6c;
    outline-offset: -2.5em;
    position: absolute;
    top: -5em;
    left: 6em;

    //  SHADOW-Card-Text-Box-LEFT
    -webkit-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
    -moz-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
    box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);

  }

}