@import ".././presets/resets";
@import "header-nav";
@import "header-and-side-nav";

@mixin banner {

  //THE MAIN BANNER CONTAINER
  .banner-parent {

    //position: relative;
    background: lightgrey;

    position: relative;
    //z-index: 0;


    .banner-default-img{
      width: 100%;
    }



  }




}


