@import ".././presets/resets";
@import "header-nav";
@import "header-and-side-nav";

@mixin banner {



  //THE MAIN BANNER CONTAINER
  .banner-parent {

    //position: relative;

    height: auto;
    width: 100%;
    position: relative;



    .banner-landing-main{
      background: hotpink;
      position: relative;
      height: 100vh;
      width: 100%;
      position: relative;


      .banner-landing-img-cont{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;

        img{
          height: 100%;
          width: 100%;
        }

        &::before{
          content: '';
          top: 0px;
          position: absolute;
          background-color: lightgrey;
          opacity: 0.1;

          height: 100%;
          width: 100%;

        }

      }


      @keyframes slideInFromLeft {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }

      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }


      .banner-landing-content{
        position: absolute;
        top: 8em;
        padding-left: 5em;
        padding-top: 10em;

        height: 100%;
        width: 100%;

        color: white;
        z-index: 2;
        //background: yellow;

        animation: 1.75s ease-out 0s 1 slideInFromLeft;




        .btm-border{
          border-bottom: 0.2em solid white;
          display: inline-block;
          width: 80%;
          animation: fadein 3.5s;
        }

        h1{
          font-weight: 200;
          margin-bottom: 0.25em;
          animation: fadein 3.5s;

        }

        p{
          animation: fadein 3.5s;
        }

        .banner-btn{
          animation: fadein 3.5s;
          z-index: 4;
        }


      }


    }


    .banner-img-cont{



      .banner-landing-img{
        position: relative;
        width: 100%;
        height: 100vh;
        z-index: 0;

      }

      .banner-section-img{
        position: relative;
        width: 100%;
        height: 80vh;
        z-index: 0;

      }



    }


    .banner-content{
      position: absolute;
      height: 100%;
      color: white;
      //padding-top: 8em;
      padding-left: 5em;
      padding-right: 5em;
      z-index: 1;

      //background-color: yellow;

      h1{
        margin-bottom: 0px;
      }

      .banner-btn-row{
        width: 100%;
        height: 4em;


        .banner-btn{
          padding: 2em;
          width: auto;
          margin: auto;
        }
      }



    }


    //---------------------------------

    .banner-generic-main{
      top: 0px;
      background: hotpink;
      position: relative;
      height: 70vh;
      width: 100%;
      position: relative;


      .banner-generic-img-cont{
        top: 0px;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;

        img{
          height: 100%;
          width: 100%;
        }

        &::before{
          content: '';
          top: 0px;
          position: absolute;
          background-color: lightgrey;
          opacity: 0.1;

          height: 100%;
          width: 100%;

        }

      }


      @keyframes slideInFromLeft {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }

      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }


      .banner-generic-content{
        position: absolute;
        top: -1em;
        padding-left: 5em;
        padding-top: 10em;

        height: 100%;
        width: 100%;

        color: white;
        z-index: 1;
        //background: yellow;

        animation: 1.75s ease-out 0s 1 slideInFromLeft;




        .btm-border{
          border-bottom: 0.2em solid white;
          display: inline-block;
          width: 80%;
          animation: fadein 3.5s;
        }

        h1{
          font-weight: 200;
          margin-bottom: 0.25em;
          animation: fadein 3.5s;

        }

        p{
          animation: fadein 3.5s;
        }

        .banner-btn{
          animation: fadein 3.5s;
          z-index: 4;
        }


      }


    }



  }






}


