



@mixin main-navs {
  //-----	SAME AS <side-nav/>	-----
  //----- -----parent ----- -----

  .both-navs{
    margin: 0px;
    padding: 0px;
    position: relative;//set as absolute so it can overlay with the banner
    width: auto;
    z-index: 2;
    background-color: lightgrey;

    //----- -----CH1 OF 2----- -----

    //NOTE CH1 holds the ICON for the slide menu AND the container for the header nav links
    .navbar {

      margin: 0px;
      padding: 0px;
      display: inline-block;


      background-color: purple;
      overflow: hidden;
      height: 63px;



      ul{
        padding: 8px 0 0 0 ;
        list-style: none;
      }

      a{
        float: left;
        display: block;
        color: #f2f2f2;
        color: red;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;

        &:hover{
          background-color: lightgrey;
          color: black;
        }

      }

      .open-slide{
        //NOTE the colors for icon are in the stroke
        .hamburger-icon{
          width: 30px;
          height: 30px;
          background-color: cyan ;
        }
      }


    }//  end navbar



    //  ----  --- SLIDE MENU (ACTUAL) --- ----  ----

    .side-nav{
      height: 100%;
      width: 0px;
      position: fixed;
      z-index: 2;

      top: 0;
      left: 0;
      background-color: #111;
      opacity: 0.9;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;


      a{
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 22px;
        color: lightgrey;
        display: block;
        transition: 0.3s;

        &:hover{
          background-color: white;
        }
      }

      .btn-close{
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
      }

    }

    .nav-header-links{
      display: inline-block;
      background-color: #b5b9bf;
      float: right;
      z-index: 2;

    }


  }// end both-navs


}// end mixin