
@import "../.././bootstrap/bootstrap.scss";
@import "presets/normalize";
@import "presets/variables";
@import "presets/resets";
@import "body/body-parent";
@import "body/landing-body";
@import "body/about";
@import "body/services";
@import "body/gallery";

@import "banner/hero-banner";
@import "banner/hero-banner2";
@import "banner/sidekick-banner";

@import "static-content/staticA-content";
@import "static-content/staticB-content";



@import "nav-menus/header-and-side-nav";




*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif
}

@include main-navs;

//@include banner;
@include body-parent;

//  BODY
@include landing-body-tiles;//THIS IS THE ONE YOUR WORKING WITH
@include aboutProfiles
@include services-body-comp;
@include gallery;


//                                 START HERE
//
body,html{margin:0;padding:0;}

//thumb to trigger modal
.galleryThumb{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;

  &:hover {opacity: 0.7;}
}

//modal
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  //background-color: rgb(0,0,0); /* Fallback color */

  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 36em;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}















//  ===== ===== ===== MAIN APP WRAPPER  ===== ===== =======

.app-wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;


  //FOOTER
  .footer{
    position: relative;
    background: #5cb3fd; //sky blue light blue
    width: 100%;
    height: 32em;
  }
}

//  ===== ===== ===== HERO PARALLAX BANNER ====  ===== =====
@include  hero-banner
@include hero-banner2

//  ===== ===== ===== CONTENT ====  ===== =====
.app-static {
  background : url('http://api.thumbr.it/whitenoise-361x370.png?');
  padding-top: 2em;
  padding-bottom: 2em;

}
@include static-contentA
@include static-contentB



//sidekick
//  THIS is :SO FWUFFY AWWW
@include sideckick-banner



//  ======  ===== Parallax Backgrounds(sidekicks)===== =====
/* Sets the actual background images to adorable kitties. This part is crucial. */



.bgAbout2::after{
  background-image: url($about-bg-2);
}

.bgServices2::after{
  background-image: url($services-bg-2);
}



//  ======  ===== Body Images ===== =====
.body {
  content: '';
  background : url('http://api.thumbr.it/whitenoise-361x370.png?');
  padding-top: 3em;
  position: relative;
  height: auto;
  width: 100%;
  padding-left: 4em;
  padding-right: 4em;
}
.landing-tile-body{

}

.col-6{
  height: 30em;

  object-fit: contain;
  padding: 0;
  margin: 0;
}

//HOVER effect
//NOTE: used this snippet
//see https://codepen.io/philcheng/pen/YWyYwG
.container .landing-tile{
  position: relative;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;

  img{
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &:hover .overlay{
    display: block;
    background: rgba(0,0,0,.3);
  }

  &:hover .title{
    top: 90px;
  }

  &:hover .button{
    opacity: 1;
  }


  img {
    position: absolute;
    //width: 500px;
    //height: 300px;
    width: 100%;
    height: 100%;
    left: 0;
  }

  .title {
    position: relative;
    width: 10em;
    margin: auto;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  .button {
    position: relative;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    left:0;
    top: 8em;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;

    a{
      width: 5em;
      padding: 1em 1em;
      text-align: center;
      color: white;
      border: solid 2px white;
      z-index: 1;
    }

  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;

    &:hover{
      display: block;
      background: rgba(0, 0, 0, .3);
    }
  }
}

//  ===== ===== ===== CARDS ===== ===== =====
//  MainContainer Card
//.card-landing{
//  width: 75%;
//  margin: 0 auto;
//  position: absolute;
//
//  //  card shadows
//  -webkit-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
//  -moz-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
//  box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
//
//  img{
//    height: 37em;
//    width: 58em;
//  }
//
//  h1{
//    color: #00ff6c;
//    position: absolute;
//    top: .3em;
//    left: 50%;
//    transform: translateX(-50%);
//
//    background: #232323;
//    padding: 0 1em;
//
//    font-weight: 300;
//    font-size: 2.5rem;
//    margin-top: 0;
//  }
//}

//  Card Right
.about-profile-pic-right{
  position: absolute;
  object-fit: cover;
  top: 5em;
  right: 10em;
  -webkit-box-shadow: 17px 21px 18px 1px rgba(0,0,0,0.73);
  -moz-box-shadow: 17px 21px 18px 1px rgba(0,0,0,0.73);
  box-shadow: 17px 21px 18px 1px rgba(0,0,0,0.73);

  img{
    width: 100%;
    height: 100%;
  }
}
//  Card left
.about-profile-pic-left{
  position: absolute;
  object-fit: cover;
  top: 5em;
  left: 6em;
  -webkit-box-shadow: 17px 21px 18px 1px rgba(0,0,0,0.73);
  -moz-box-shadow: 17px 21px 18px 1px rgba(0,0,0,0.73);
  box-shadow: 17px 21px 18px 1px rgba(0,0,0,0.73);

  img{
    width: 100%;
    height: 100%;
  }
}

//  Card-Text-Box-LEFT
.card-text-box-left{
  color: #FFF;
  background-color: #232323;
  padding: 3em;
  width: 32vw;
  outline: 2px solid #00ff6c;
  outline-offset: -2.5em;
  position: absolute;
  top: 9em;
  left: 3em;

  //  SHADOW-Card-Text-Box-LEFT
  -webkit-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
  -moz-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
  box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);

}

//  Card-Text-Box-RIGHT
.card-text-box-right{
  color: #FFF;
  background-color: #232323;
  padding: 3em;
  width: 32vw;
  outline: 2px solid #00ff6c;
  outline-offset: -2.5em;

  position: absolute;
  top: 9em;
  right: 8em;

  //  SHADOW-Card-Text-Box-RIGHT
  -webkit-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
  -moz-box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
  box-shadow: 17px 21px 18px 1px rgba(134,141,153,1);
}









//----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
//PLAY HERE!:

//header ========================
header{
  position: absolute;
  //left: 0;
  //right: 0;
  //margin-top: 1em;
  z-index: 1;
  margin: auto;
  width: 50%;


  img{
    width: 100%;
    height: auto;
  }

  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      display: inline-block;
      margin: 1em;

      a{
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8rem;
        padding: .5em;
        color: white;

        &:hover{

        }

        &:focus{
          //color: #DDD; //use this color for final
          color: yellow;
        }

      }
    }
  }



// HOME HERO =====================
  .home-hero{

    .container{
      width: 95%;
      margin: auto;
      height: 100%;

    }

  }







//  =================FOOTER===============






}










//----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----

