
@import "../.././bootstrap/bootstrap.scss";
@import "presets/normalize";
@import "presets/variables";
@import "presets/resets";
@import "body/landing";


//----- Nav Menus -----
//@import "nav-menus/header-nav";
//@import 'nav-menus/side-nav';
//@import "nav-menus/banner";


@import "nav-menus/side-nav";



#main{

  margin-left:0px;
  margin-right: 0px;

  width: 100vw;

  background-color: yellow;

  @include main-nav;
  //@include banner;
  @include landing;


}

//----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
//PLAY HERE!:

















//----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----

