
@import "../.././bootstrap/bootstrap.scss";
@import "presets/normalize";
@import "presets/variables";
@import "presets/resets";
@import "body/body-parent";
@import "body/landing";
@import "body/about-us-main";
@import "body/services";
@import "body/gallery";
@import "nav-menus/banner";
@import "nav-menus/header-and-side-nav";


*{
  box-sizing: border-box;
}

@include main-navs;
@include banner;
@include body-parent;
@include landing;
@include about-us-main;
@include services-body-comp;
@include gallery;


//----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
//PLAY HERE!:


.testME85{
  background-color: purple;
}




//header ========================
header{
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1em;

  img{
    width: 100%;
    height: auto;
  }

  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      display: inline-block;
      margin: 1em;

      a{
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8rem;
        padding: .5em;
        color: white;

        &:hover{

        }

        &:focus{
          //color: #DDD; //use this color for final
          color: yellow;
        }

      }
    }
  }



// HOME HERO =====================
  .home-hero{

    .container{
      width: 95%;
      margin: auto;

    }

  }







//  ================================





}










//----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----

